body {
  background: #fff;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Quicksand', sans-serif;
}

.gradient {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: rgb(255,165,24);
  background: -moz-linear-gradient(45deg,  rgba(255,165,24,1) 0%, rgba(224,42,128,1) 100%);
  background: -webkit-linear-gradient(45deg,  rgba(255,165,24,1) 0%,rgba(224,42,128,1) 100%); 
  background: linear-gradient(45deg,  rgba(255,165,24,1) 0%,rgba(224,42,128,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa518', endColorstr='#e02a80',GradientType=1 );
  align-items: center;
  justify-content: center;
}

.text {
  color: white;
  text-align: center;
}

h1 {
  font-size: 3em;
  font-weight: 700;
}

h2 {
  font-size: 2.2em;
  font-weight: 300;
}

a {
  color: white;
  font-weight: bold;
}

a