body {
  background: #555;
}

h1 {
  color: white;
  text-shadow: 2px 2px 0px #333;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.content {
  background: #1a8fb9;
  width: 880px;
  height: 550px;
  margin: 0 auto;
  box-shadow: 4px 4px 2px #333;
}

img.background {
  position: absolute;
  width: 880px;
  height: 550px;
  margin: 0 auto;
  left: 100px;
  transform: translateX(101px); 
  z-index: 10;
  opacity: 0.3;
}

img.duck {
  position: relative;
  z-index: 1;
  width: 50px;
  top: 90%;
  display: inline-block;
  /* */
}